# dev requirements, prod requirements are found in setup.py
#

click==4.0
frigg-test-discovery>0.0,<1.1
frigg-coverage==1.0.0
raven==5.3.1
docker-wrapper==0.6.0
pyyaml==3.11


# testing tools
pytest
coverage
mock
responses
