# dev requirements, prod requirements are found in setup.py
#

click==5.1
frigg-coverage>=1.0.0,<2.0.0
frigg-test-discovery>=1.0.0,<2.0.0
docker-wrapper>=1.0,<1.1  # rq.filter: <2.0
raven==5.5.0
pyyaml==3.11


# testing tools
pytest
pytest-xdist
coverage
responses
