# dev requirements, prod requirements are found in setup.py
#

click==5.1
frigg-coverage>=1.1.1,<2.0.0
frigg-settings>=1.1.1,<2.0.0
docker-wrapper>=2.1,<2.2  # rq.filter: <2.0
raven==5.8.1
pyyaml==3.11


# testing tools
pytest
pytest-xdist
pytest-mock
coverage
responses
